
.container{
    background-image: url("https://store-images.s-microsoft.com/image/apps.15041.71343510227343465.377174a9-abc8-4da3-aaa6-8874fdb9e2f5.00fc0a9e-295e-40ca-a391-58ed9f83e9a0?mode=scale&q=90&h=1080&w=1920&background=%23FFFFFF");
    background-repeat: no-repeat;
    background-size: cover;
}
.TITULO{
    text-align: center;
    color:rgba(255,0,58 , 1);
    font-weight: 800;
    background-color: rgba(215, 65, 100, 0.3);
}